#app (local , production)
APP_ENV=local
APP_PORT_LOCAL=8080
APP_PORT_PRODUCTION=80
APP_NAME=test

# urls
#FRONT_END_URL=http://www.website.com/
#RESET_PASSWORD_URL=http://www.website.com/forget?token=

#database config
DATABASE_SERVER=postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=52412
DATABASE_NAME=test
DEBUG_DATABASE=true

# database action this will delete
DROP_ALL_TABLES=true

#routing slugs
ADMIN_SLUG=admin
AUTH_SLUG=auth
VISTORS_SLUG=/

#path for test and production
PRODUCTION_MODEL_PATH=app/models
TEST_MODEL_PATH=../app/models

#stmp email
#STMP_EMAIL_SENDER=abdelazizhassan@techytypes.com
#STMP_EMAIL_ADDRESS=omarsayed@techytypes.com
#STMP_EMAIL_PASSWORD=bnVKGQED1tAgMjYd
#STMP_EMAIL_HOST=smtp-relay.sendinblue.com
#STMP_EMAIL_PORT=587

#limit of cruds
LIMIT=30
